//META{"name":"Borderlands","description":"A Borderlands theme for Discord","author":"Leroux47","version":"0.1.0"}*//
/* import de la police de caractère du thème*/
@import url("https://fontlibrary.org/face/ezarion");

:root {
  --mainColor: #e6b800 !important;
  --secondColor: black !important;
  --thirdColor: rgba(32, 34, 37, 0.68) !important;
  --textColor: #fff;
  --font: EzarionRegular;
}

body {
	background-image: url(https://i.imgur.com/MQAOljZ.jpg);
}

/*Change all the default font*/
#app-mount, .description-3_Ncsb, .itemDefault-3Jdr52, .ui-tab-bar-item {
  font-family:  var(--font);
  font-weight: bold !important;
  color: var(--textColor) !important;
}
/*Text color for settings headers*/
.header-2RyJ0Y, .ui-tab-bar-header {
	color: var(--mainColor) !important;
	font-size: 17px !important;
}

/*Friends activity style*/
.activity-1IYsbk, .friends-table .friends-row .discord-tag .username,
.friends-column-status .status-text, .channel-2QD9_O, .name-2WpE7M, a {
	color: var(--textColor) !important;
}

/*----------------------------------------------------------*/

/*ESC button style*/
.keybind-KpFkfr, .theme-dark .closeButton-1tv5uR {
  border-color: var(--mainColor) !important;
  color: var(--mainColor) !important;
}

/*Settings buttons background*/
.userInfoViewingButton-2-jbH9, .lookFilled-1Gx00P, .lookOutlined-3sRXeN,
.item-26Dhrx, .Select, .grabber-3mFHz2, .titleChecked-2wg0pd,
.button-34kXw5 {
  color: var(--mainColor) !important;
  background-color: var(--secondColor) !important;
}

.horizontal-2EEEnY {
  border-color: var(--mainColor) !important;
}

/*Other buttons color*/
.homeIcon-1FoKUJ, .ui-tab-bar-item:hover, .ui-tab-bar-item.selected, .barFill-23-gu-,
.itemDefault-3Jdr52:hover, .bda-settings-button, .bd-pfbtn, .selected-mKYnfr.option-n0icdO, .option-n0icdO:hover {
	background-color: var(--mainColor) !important;
	color: var(--secondColor) !important;
}

/*User settings button*/
.buttonInner-LmnaN_, .attachButtonInner-1iyZ9F, .contents-18-Yxp {
  color: inherit !important;
  background-color: inherit !important;
}
/*--------------------------------------------------------------------------*/

/*Remove border of status indicators*/
.status-2kJpnA, .status-2s6iDp, .status {
  border-color: transparent !important;
}

/*Définition de la transparence du fond de tous les éléments afin d'afficher l'image de fond*/
#app-mount, .typeWindows-1za-n7, .wordmark-2iDDfm, .app-19_DXt, .app, .layers, .flex-1xMQg5, .guildsWrapper,
.channels-Ie2l6A, .flexChild-faoVW3, .container-2Thooq.da-container, .scroller-wrap, .messagesWrapper-3lZDfY,
.layers-3iHuyZ, .guildsWrapper-5TJh6A, .layer-3QrUeG,
.messages-3amgkR, .membersWrap-2h-GB4, .scrollerWrap-2lJEkd, .scroller-2FKFPG, .flex-spacer, .containerCozyBounded-1rKFAn, .messageCozy-2JPAPA,
.headerCozy-2N9HOL, .container-2lgZY8, .chat-3bRxxu, .chat-3bRxxu form, .content-yTz4x3, .title-3qD0b-,
.members-1998pB, .standardSidebarView-3F1I7i, .sidebarRegion-VFTUkN, .contentRegion-3nDuYy {
  background-color: transparent !important;
}

/*Make some elements semi-transparent*/
.titleWrapper-1l0xT9, .memberOnline-1CIh-0, .containerCozyBounded-1rKFAn.containerCozy-jafyvG.container-1YxwTf.da-containerCozyBounded.da-containerCozy.da-container,
.memberOnline-1CIh-0, .popout-3sVMXz, .inner-zqa7da, .content-OzHfo4 {
  border-radius: 15px !important;
}

/*Guild wrapper background color*/
/*------------------------------------------------------*/
.container-2 {
    background-color: var(--thirdColor) !important;
    border: 0px solid transparent;
    border-radius: 0px 0px 15px 15px;
}

.container-1 {
    background-color: var(--thirdColor) !important;
    border: 0px solid transparent;
    border-radius: 15px 15px 0px 0px;
}
/*------------------------------------------------------*/

/*Chat borders*/
.scroller-wrap.scrollerWrap-2su1QI.da-scrollerWrap {
border-style: none !important;
border-radius: 15px 0px 0px 15px;
}

.content-OzHfo4, .memberOffline-2lN7gt, .contentRegionScrollerWrap-3YZXdm, #friends, .typing-2GQL18 {
  background-color: var(--thirdColor) !important;
  border-radius: 25px;
}

.text-1y-e8-, .typing-2GQL18 {
  color: var(--mainColor) !important;
}

/*Chat and guild members background*/
.scroller-wrap.scrollerWrap-2su1QI.da-scrollerWrap, .content-OzHfo4, .memberOffline-2lN7gt,
#friends {
  background-color: var(--thirdColor) !important;
}

/*Define background color for selected items, notifications and the scroll bar*/
.side-8zPYf6 .itemSelected-1qLhcL, .messagesWrapper-3lZDfY .scroller-wrap ::-webkit-scrollbar-thumb,
.guild-1EfMGQ .guildIcon-CT-ZDq, .guild-1EfMGQ .guildInner-3DSoA4, .wrapper-232cHJ {
  background-color: var(--mainColor) !important;
  color: var(--secondColor) !important;
  border-color: transparent !important;
  font-weight: bold !important;
}

/*Channels name style*/
.iconCollapsed-3hFp_8, .iconDefault-3Gr8d2, .nameCollapsed-34uFWo, .nameConnectedText-3CzNQn,
.nameConnectedVoice-MHUX5F, .nameSelectedText-sp_EUw, .nameSelectedVoice-1qSph5,
.contentSelectedText-3wUhMi, .contentSelectedVoice-1WDIBM, .actionIcon-2Hi9ZG,
.nameLockedText-3pqQcL, .nameLockedVoice-26MhB1 {
  color: var(--mainColor) !important;
  background-color: var(--thirdColor) !important;
}

/*Channels name style on hover*/
.wrapperDefaultText-2IWcE8:hover, {
  color: var(--secondColor) !important;
  background-color: var(--mainColor) !important;
}

/*Checkboxes*/
.themeDefault-24hCdX.valueChecked-m-4IJZ, .checkboxEnabled-CtinEn, input[type=checkbox]:checked+span, .ui-switch, .switchEnabled-V2WDBB {
  background-color: var(--mainColor) !important;
  border: none !important;
}

.markup-2BOw-j, .textArea-2Spzkt {
  color: var(--textColor) !important;
  font-size: 16px !important;
  font-family:  var(--font);
}

.username-_4ZSMR, .membersGroup-v9BXpm, .nameTag-3p0yK- {
  color: var(--textColor) !important;
  font-size: 20px !important;
  font-family:  var(--font);
  font-weight: bold !important;
}

.channel-2QD9_O, .name-2WpE7M {
  font-size: 17px !important;
}

header {
  color: var(--textColor) !important;
  font-size: 16px !important;
  font-family:  var(--font);
  font-weight: bold !important;
}

h2, h5 {
  color: var(--mainColor) !important;
}

.input-autosize-input {
  color: var(--textColor) !important;
  font-size: 19px !important;
  font-family:  var(--font);
  font-weight: bold !important;
}
