//META{"name":"Borderlands","description":"A Borderlands theme for Discord","author":"Leroux47","version":"1.3.0"}*//

/* import de la police de caractÃ¨re du thÃ¨me*/
@import url("https://fontlibrary.org/face/ezarion");

:root {
  --buttonColor: var(--mainColor) !important;
  --mainColor: #e6b800 !important;
  --secondColor: black !important;
  --thirdColor: rgba(0, 0, 0, 0.25);
  --fourthColor: rgba(21, 21, 23, 0.54);
	--fifthColor: rgba(0, 0, 0, 0.349);
  --textColor: #fff;
  --font: EzarionRegular;
  --homeIcon: url(https://framagit.org/Leroux47/discord-themes/raw/master/icons/borderlandsVault.png);
  --backgroundImage: url(https://i.imgur.com/MQAOljZ.jpg);
}

body {
  background-image: var(--backgroundImage);
}


/*Change all the default font*/
#app-mount, .description-3_Ncsb, .itemDefault-3Jdr52, .ui-tab-bar-item, .textArea-2Spzkt.placeholder {
  font-family:  var(--font) !important;
  color: var(--textColor) !important;
  }
  
  ::-webkit-input-placeholder {
  font-family:  var(--font) !important;
  }
  
  
  /*Text color for settings headers*/
  .header-2RyJ0Y, .ui-tab-bar-header {
  color: var(--mainColor) !important;
  font-size: 17px !important;
  }
  
  /*Add or join guild button*/
  .guildsAdd-21_IdK:hover {
  border-color: var(--mainColor) !important;
  color: var(--mainColor) !important;
  }
  
  /*Friends tab*/
  .da-friendsEmpty .da-flex .image-1GzsFd {
  visibility: hidden;
  }
  
  .da-friendsEmpty .da-flex .image-1GzsFd:before {
  content: url(http://files.gamebanana.com/img/ico/sprays/51a11941e1c4c.png);
  visibility: visible;
  opacity: 0.8;
  }
  
  .da-friendsEmpty .da-flex .image-1GzsFd:after {
  content: "It seems you're alone... But you can talk to handsome Jack if you want.";
  white-space: pre;
  visibility: visible;
  text-align: center;
  }
  
  .da-friendsEmpty .da-flex .da-flexChild {
  visibility: hidden;
  margin-top: 60px;
  align-content: center;
  width: 600px;
  }
  /*----------------------------------------*/
  
  
  /*Friends activity style*/
  .activity-1IYsbk, .friends-table .friends-row .discord-tag .username,
  .friends-column-status .status-text, .channel-2QD9_O, .name-2WpE7M, a {
  color: var(--textColor) !important;
  }
  /*----------------------------------------*/
  
  
  /*ESC button style*/
  .keybind-KpFkfr, .theme-dark .closeButton-1tv5uR {
  border-color: var(--mainColor) !important;
  color: var(--mainColor) !important;
  }
  
  
  /*Settings buttons background*/
  .userInfoViewingButton-2-jbH9, .lookFilled-1Gx00P, .lookOutlined-3sRXeN,
  .item-26Dhrx, .Select, .Select-menu-outer, .grabber-3mFHz2, .titleChecked-2wg0pd,
  .button-34kXw5 {
  color: var(--mainColor) !important;
  background-color: var(--secondColor) !important;
  }
  
  .Select-menu-outer div div:hover {
    border: 3px solid var(--mainColor) !important;
  }
  
  /*Settings switches*/
  .da-switch::after, .ui-switch::before {
    background-color: var(--secondColor) !important;
  }
  
  /*Input sensiblility slider*/
  .da-slider .da-bar {
    background-color: var(--fourthColor) !important;
  }
  
  /*Check microphone progress bar*/
  .progress-1IcQ3A {
    background-color: var(--mainColor) !important;
  }
  
  /*Last played game name*/
  .da-notDetected {
    background-color: var(--fourthColor) !important;
  }
  
  .card-FDVird::before {
    background-color: var(--fourthColor) !important;
  }
  
  
  /*Delete msg confirmation box, messages search box*/
  /*----------------------------------------*/
  
  .modal-3HD5ck, .clickOverride-1J40_l, .hit {
  background-color: var(--fifthColor) !important;
  }
  
  .message-2qRu38, .search-results-wrap, .tab, .total-results, .resultsGroup-r_nuzN,
  .searchLearnMore-3SQUAj, .option-96V44q.selected-rZcOL-, .message-2qRu38,
  .search-results-wrap, .tab, .total-results, .resultsGroup-r_nuzN, .searchLearnMore-3SQUAj,
  .option-96V44q.selected-rZcOL- {
  background-color: var(--fourthColor) !important;
  }
  
  .channel-name, .search-header, .search-header div {
  background-color: transparent !important;
  }
  
  .channel-separator::before {
  visibility: hidden;
  }
  
  .horizontal-2EEEnY {
  border-color: var(--mainColor) !important;
  }
  /*----------------------------------------*/
  
  
  /*Attachments*/
  .da-attachment {
  border: 1px solid var(--secondColor) !important;
  }
  
  /*Search for servers, channels and DMs box*/
  /*----------------------------------------*/
  .container-3qKHyN {
  background-color: var(--fourthColor) !important;
  }
  
  .da-quickswitcher, .da-quickswitcher div, .da-quickswitcher input {
  background-color: transparent !important;
  }
  
  .da-quickswitcher .input-2VB9rf {
  background-color: transparent !important;
  border: 1px solid var(--mainColor);
  color: var(--mainColor) !important;
  }
  
  .da-resultFocused div, .da-resultFocused div svg {
  background-color: var(--mainColor) !important;
  color: var(--secondColor) !important;
  }
  
  /*----------------------------------------*/
  
  /*----------------------------------------*/
  /*Channel search results*/
  .da-searchResultsWrap {
  background-color: var(--fourthColor) !important;
  }
  
  .da-searchResultsWrap * {
  background-color: transparent !important;
  }
  
  .searchResult-3pzFAB:before, .searchResult-3pzFAB:after {
  background-image: none !important;
  }
  
  .da-hit {
  box-shadow: 0 0 20px 0px var(--mainColor) !important;
  border: 2px solid var(--mainColor) !important;
  }
  
  /*Keybinds*/
  .da-keybindShortcut span {
  background-color: var(--mainColor) !important;
  color: var(--secondColor) !important;
  }
  
  
  /*Other buttons color*/
  .ui-tab-bar-item:hover, .ui-tab-bar-item.selected, .barFill-23-gu-, .da-guildsAdd:hover, .actionButton-3W1xZa:hover,
  .itemDefault-3Jdr52:hover, .bda-settings-button, .bd-pfbtn, .option-n0icdO:hover,
  .da-backButton:hover, .lookFilled-1Gx00P:hover, .lookLink-9FtZy-:hover, .da-itemSelected,
  .lookInverted-2D7oAl.colorBrand-3pXr91:hover {
  background-color: var(--mainColor) !important;
  color: var(--secondColor) !important;
  }
  
  .item-26Dhrx {
  border: none !important;
  }
  
  .da-backButton, .lookFilled-1Gx00P, .lookInverted-2D7oAl.colorBrand-3pXr91 {
  border: 1px solid var(--mainColor) !important;
  color: var(--mainColor) !important;
  }
  
  .da-copyButton {
  border: 1px solid var(--mainColor) !important;
  margin-left: 10px;
  }
  
  .colorBrand-3pXr91 {
  border: none !important;
  }
  
  .lookLink-9FtZy- {
  border: 1px solid var(--mainColor) !important;
  margin-right: 15px;
  }
  
  /*Log out button*/
  .itemDefault-3Jdr52:hover[style*="background-color: rgba(240, 71, 71, 0.0980392);"] {
  color: white !important;
  background-color: red !important;
  }
  
  
  /*Red buttons*/
  /*---------------------------------------*/
  
  .colorRed-1TFJan {
  color: red !important;
  border: 1px solid red !important;
  }
  
  .colorRed-1TFJan:hover {
  background-color: red !important;
  color: white !important;
  }
  /*---------------------------------------*/
  
  
  /*Tab bar items*/
  /*---------------------------------------*/
  .da-tabBar .da-selected, .tabBar-1E2ExX .primarySelected-3uHKZn, .tabBar-1E2ExX .primary-3j8BhM:hover {
  background-color: var(--mainColor) !important;
  color: var(--secondColor) !important;
  }
  
  .da-tabBar ..da-notSelected:hover {
  background-color: var(--secondColor) !important;
  color: var(--mainColor) !important;
  }
  
  .tabBar-1E2ExX .primary-3j8BhM {
  background-color: var(--secondColor) !important;
  }
  /*---------------------------------------*/
  
  
  /*Header buttons color*/
  .iconForeground-3y9f0B, .dc-svg {
  color: var(--buttonColor) !important;
  }
  
  /*User settings button*/
  .buttonInner-LmnaN_, .attachButtonInner-1iyZ9F, .contents-18-Yxp {
  color: inherit !important;
  font-family: var(--font) !important;
  background-color: inherit !important;
  }
  /*----------------------------------------*/
  
  
  /*Remove border of status indicators*/
  .status-2kJpnA, .status-2s6iDp, .da-status {
  border-color: transparent !important;
  }
  
  
  /*Make all the page elements transparent to see the background image or color*/
  #app-mount, .typeWindows-1za-n7, .wordmark-2iDDfm, .app-19_DXt, .app, .layers, .flex-1xMQg5, .guildsWrapper,
  .channels-Ie2l6A, .flexChild-faoVW3, .container-2Thooq.da-container, .scroller-wrap, .messagesWrapper-3lZDfY,
  .layers-3iHuyZ, .guildsWrapper-5TJh6A, .layer-3QrUeG, .da-guildsAdd, .container-3gCOGc,
  .messages-3amgkR, .membersWrap-2h-GB4, .scrollerWrap-2lJEkd, .scroller-2FKFPG, .flex-spacer, .containerCozyBounded-1rKFAn, .messageCozy-2JPAPA,
  .headerCozy-2N9HOL, .container-2lgZY8, .chat-3bRxxu, .chat-3bRxxu form, .content-yTz4x3, .title-3qD0b-,
  .members-1998pB, .standardSidebarView-3F1I7i, .sidebarRegion-VFTUkN, .contentRegion-3nDuYy {
  background-color: transparent !important;
  }
  
  
  /*Make some elements semi-transparent*/
  .titleWrapper-1l0xT9, .memberOnline-1CIh-0, .containerCozyBounded-1rKFAn.containerCozy-jafyvG.container-1YxwTf.da-containerCozyBounded.da-containerCozy.da-container,
  .memberOnline-1CIh-0, .popout-3sVMXz, .inner-zqa7da, .content-OzHfo4 {
  border-radius: 15px !important;
  }
  
  
  /*Chat borders*/
  .scroller-wrap.scrollerWrap-2su1QI.da-scrollerWrap, .inner-zqa7da {
  border-style: none !important;
  border-radius: 15px 0px 0px 15px;
  box-shadow: 0 0 20px 0px var(--mainColor) !important;
  }
  
  /*Help*/
  /*----------------------------------------*/
  .modal-content div, .form-inner ul li a,
  .control-group h1 {
  background-color: transparent !important;
  }
  
  .need-help-modal {
  background-color: var(--fourthColor) !important;
  border: 2px solid var(--secondColor) !important;
  }
  
  .form-inner ul li a:hover {
  text-decoration: underline !important;
  }
  /*----------------------------------------*/
  
  
  /*Instant invite*/
  .da-channelNotices {
  background-color: var(--fourthColor) !important;
  }
  
  .da-channelNotices * {
  background-color: transparent !important;
  }
  
  .da-channelNotices .da-btn {
  color: var(--mainColor) !important;
  border: 1px solid var(--mainColor) !important;
  }
  
  .da-channelNotices .da-btn:hover {
  color: var(--secondColor) !important;
  background-color: var(--mainColor) !important;
  border: transparent !important;
  }
  
  .modal-1k91nT .flexCenter-3_1bcw {
  border: none !important;
  }
  
  .modal-1k91nT input {
  border-bottom: 1px solid var(--mainColor) !important;
  }
  
  /*@mentions and pinned messages menu*/
  /*----------------------------------------*/
  .messagesPopoutWrap-1MQ1bW {
  background-color: var(--fourthColor) !important;
  }
  
  .messageGroupWrapper-o-Zw7G {
  border: 2px solid var(--secondColor) !important;
  background-color: var(--fifthColor) !important;
  }
  
  .messagesPopoutWrap-1MQ1bW div {
  background-color: transparent !important;
  }
  /*----------------------------------------*/
  
  
  /*Right-click menu*/
  .da-contextMenu {
  background-color: var(--secondColor) !important;
  }
  
  .da-contextMenu .item-1Yvehc {
  color: var(--textColor) !important;
  }
  
  .da-contextMenu .item-1Yvehc:hover {
  color: var(--secondColor) !important;
  background: var(--textColor) !important;
  }
  
  .item-1Yvehc.da-item.danger-2dXSTE.da-danger {
  color: red !important;
  }
  
  .item-1Yvehc.da-item.danger-2dXSTE.da-danger:hover {
  color: white !important;
  background-color: red !important;
  }
  
  /*User profiles*/
  /*----------------------------------------*/
  .userPopout-3XzG_A, .userPopout-3XzG_A input {
  background-color: var(--fourthColor) !important;
  color: var(--mainColor) !important;
  }
  
  .userPopout-3XzG_A .da-header, .userPopout-3XzG_A .da-footer {
  color: var(--mainColor) !important;
  background-color: transparent !important;
  }
  
  .userPopout-3XzG_A .da-body {
  background-color: transparent !important;
  }
  
  .popout-3sVMXz {
  border-radius: 0px !important;
  }
  
  /*Add roles*/
  #autocomplete-popout, #autocomplete-popout section .row.selected {
  background-color: var(--fourthColor) !important;
  }
  
  #autocomplete-popout section .row {
  background: none !important;
  }
  
  #autocomplete-popout header, .autocomplete-header-background, #autocomplete-popout section, #autocomplete-popout section div {
  background-color: transparent !important;
  }
  
  #autocomplete-popout header input:focus {
  border-bottom: 1px solid var(--mainColor) !important;
  }
  
  .userPopout-3XzG_A input:focus {
  border-color: transparent !important;
  border-bottom: 1px solid var(--mainColor) !important;
  }
  
  .da-note textarea:focus {
  background-color: transparent !important;
  border-bottom: 1px solid var(--mainColor);
  color: var(--textColor) !important;
  }
  
  /*User profiles on hover*/
  .channel-2QD9_O:hover a {
  background-color: var(--fourthColor);
  }
  
  .actionButton-3W1xZa {
  border: 1px solid var(--mainColor);
  }
  
  button .contents-18-Yxp {
  background-color: transparent !important;
  }
  
  .inner-1JeGVc .da-root, .inner-1JeGVc .da-root .topSectionNormal-2-vo2m,
  .inner-1JeGVc .da-root .topSectionNormal-2-vo2m header, .inner-1JeGVc .da-root
  .topSectionNormal-2-vo2m .body-3ND3kc, .inner-1JeGVc .da-root
  .topSectionNormal-2-vo2m .body-3ND3kc div, .theme-dark .body-3ND3kc {
  background-color: var(--fourthColor) !important;
  }
  
  /*----------------------------------------*/
  
  
  /*Links*/
  /*----------------------------------------*/
  .markup-2BOw-j a[href*="http"] {
  color: hsl(202, 98%, 49%) !important;
  }
  /*----------------------------------------*/
  
  .inner-zqa7da {
  border: 1px solid var(--mainColor) !important;
  background-color: transparent !important;
  }
  
  pre {
  background-color: var(--fourthColor) !important;
  }
  
  .da-layer, .da-titleBar {
  background-color: var(--thirdColor) !important;
  margin: 0 !important;
  }
  
  /*Tips*/
  .protip-YaFfgO, .protip-YaFfgO div, .pro-1T8RK7, .tip-2ab612, .statusGreen-pvYWjA {
  color: rgb(18, 196, 18)  !important;
  }
  
  /*Home icon*/
  /*----------------------------------------*/
  .homeIcon-1FoKUJ {
  background-color: var(--mainColor) !important;
  color: transparent !important;
  background-image: var(--homeIcon) !important;
  }
  /*----------------------------------------*/
  
  
  /*Emoiji picker*/
  /*----------------------------------------*/
  .emojiPicker-3m1S-j, .selectorSelected-1_M1WV {
  background-color: var(--fourthColor) !important;
  }
  
  /*Emoijis buttons*/
  #bda-qem button {
  background-color: var(--secondColor) !important;
  }
  
  .bda-dark #bda-qem-twitch-container, .bda-dark #bda-qem-favourite-container,
  .searchBar-2_Yu-C.searchBarLight-1NxoDG, .searchBar-2_Yu-C.searchBarLight-1NxoDG * {
  background-color: transparent !important;
  }
  
  /*emoiji search bar placeholder*/
  .searchBarInner-1_Tg2R input::placeholder {
  color: rgb(250, 250, 250) !important;
  }
  
  .searchBarInner-1_Tg2R {
  border: 1px solid var(--mainColor) !important;
  }
  
  /*Headers*/
  .emojiPicker-3m1S-j .stickyHeader-1SS0JU, .category-2U57w6, .header-1nkwgG, .search-bar {
  background-color: transparent !important;
  }
  
  /*Scroll bar*/
  ::-webkit-scrollbar-thumb {
  background-color: var(--mainColor) !important;
  }
  
  .scrollerThemed-2oenus, .scrollerThemed-2oenus.themedWithTrack-q8E3vB
  .scroller-2FKFPG::-webkit-scrollbar-track-piece {
  background-color: transparent !important;
  border: none !important;
  }
  
  /*Messages search bar*/
  .search-bar.search-bar-light .search-bar-inner {
  background-color: transparent !important;
  border: 1px solid transparent;
  border-color: var(--mainColor) !important;
  }
  
  .search-result:before {
  width: 0%;
  height: 0px !important;
  }
  
  .search-results-wrap, .search-result:before {
  background-image: none !important;
  width: 30% !important;
  }
  
  .popoutbottom, .popoutbottom * {
  background-color: transparent !important;
  }
  
  
  /*Categories*/
  .item-16cXuq.selected-39BZ4S {
  border-bottom-color: var(--mainColor) !important;
  }
  /*----------------------------------------*/
  
  
  /*GIFs picker and autocomplete*/
  /*----------------------------------------*/
  .autocomplete-1vrmpx {
  background-color: var(--fourthColor) !important;
  }
  
  .content-ySCtCx, .content-ySCtCx div {
  background: none;
  }
  
  .result-3w1ZcL:hover {
  border: 1px solid var(--mainColor) !important;
  }
  
  /*search field*/
  .input-3Xdcic {
  border-bottom: 2px solid var(--mainColor);
  border-radius: 10px;
  }
  
  /*GIFs menu button*/
  .pickerButton-3JlQT1:hover, .active-23Nm0T {
  color: var(--mainColor) !important;
  }
  
  /*----------------------------------------*/
  
  
  /*DM calls*/
  /*----------------------------------------*/
  .videoHeight-Qp_9vC, .videoContain-2ih_gc, .videoCover-LdeT1c {
  background-color: var(--fourthColor) !important;
  }
  
  .wrapper-29NfPK {
  background-color: transparent !important;
  }
  
  .iconButton-1tFuLN, .flex-1xMQg5 {
  border: none !important;
  }
  
  .iconsWrapper-1RelE3 {
  background-color: var(--fourthColor) !important;
  }
  /*----------------------------------------*/
  
  
  /*Popouts*/
  /*----------------------------------------*/
  /*Server setting popup and messages search box background*/
  .noArrow-3BYQ0Z {
  background-color: var(--fourthColor) !important;
  color: var(--mainColor) !important;
  }
  
  .text-1y-e8-, .typing-2GQL18, .name-3M0b8v:hover, .actionIcon-2Hi9ZG, .item-1GzJrl {
  color: var(--mainColor) !important;
  }
  
  .item-1GzJrl:hover {
  background-color: var(--mainColor) !important;
  color: var(--secondColor) !important;
  }
  
  /*Status menu*/
  .da-menu {
  background-color: var(--fifthColor) !important;
  }
  
  .theme-dark .resultsGroup-r_nuzN .header-2N-gMV, .theme-dark
  .resultsGroup-r_nuzN .plusIcon-v0BTrL, .theme-dark .resultsGroup-r_nuzN
  .searchClearHistory-2cSSMO, .theme-dark
  .resultsGroup-r_nuzN .searchLearnMore-3SQUAj a
  
  /*----------------------------------------*/
  
  
  /*Define background color for selected items, notifications and the scroll bar*/
  /*----------------------------------------*/
  .side-8zPYf6 .itemSelected-1qLhcL, .messagesWrapper-3lZDfY .scroller-wrap ::-webkit-scrollbar-thumb,
  .guild-1EfMGQ .guildIcon-CT-ZDq, .guild-1EfMGQ .guildInner-3DSoA4, .wrapper-232cHJ, .noIcon-1a_FrS {
  background-color: var(--mainColor) !important;
  color: var(--secondColor) !important;
  border-color: transparent !important;
  }
  
  .scroller-wrap ::-webkit-scrollbar-track-piece, .scroller-2FKFPG::-webkit-scrollbar-thumb {
  background-color: var(--mainColor) !important;
  border-color: transparent !important;
  }
  
  .scroller-wrap ::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.44) !important;
  border: none !important;
  }
  /*----------------------------------------*/
  
  
  /*Jump to present bar*/
  /*----------------------------------------*/
  .jumpToPresentBar-9P20AM {
  background-color: var(--secondColor) !important;
  }
  
  .jumpToPresentBar-9P20AM button:last-child {
  background-color: var(--secondColor) !important;
  color: var(--mainColor) !important;
  padding: 5px !important
  }
  
  .jumpToPresentBar-9P20AM button:last-child:hover {
  background-color: var(--mainColor) !important;
  color: var(--secondColor) !important;
  padding: 5px !important
  }
  /*----------------------------------------*/
  
  /*"Friends" button*/
  .channel-2QD9_O.selected-1HYmZZ a {
  background-color: var(--fourthColor) !important;
  }
  
  
  /*Channels name style*/
  .iconCollapsed-3hFp_8, .nameCollapsed-34uFWo, .nameConnectedText-3CzNQn,
  .nameConnectedVoice-MHUX5F, .nameSelectedText-sp_EUw, .nameSelectedVoice-1qSph5,
  .contentSelectedText-3wUhMi, .contentSelectedVoice-1WDIBM,
  .nameLockedText-3pqQcL, .nameLockedVoice-26MhB1 {
  color: var(--mainColor) !important;
  background-color: var(--thirdColor) !important;
  }
  
  
  /*Channels name style on hover*/
  .wrapperDefaultText-2IWcE8:hover, {
  color: var(--secondColor) !important;
  background-color: var(--mainColor) !important;
  }
  
  .wrapperHoveredText-2geN_M {
  background-color: var(--fourthColor) !important;
  border-radius: 15px;
  }
  
  .wrapperHoveredText-2geN_M div {
  background-color: transparent !important;
  }
  
  /*Mentioned channels name in chat*/
  /*----------------------------------------*/
  .wrapper-3WhCwL {
  color: hsl(202, 98%, 49%) !important;
  }
  /*----------------------------------------*/
  
  
  /*Checkboxes*/
  .themeDefault-24hCdX.valueChecked-m-4IJZ, .checkboxEnabled-CtinEn, input[type=checkbox]:checked+span, .ui-switch, .switchEnabled-V2WDBB {
  background-color: var(--mainColor) !important;
  border: none !important;
  }
  
  .markup-2BOw-j, .textArea-2Spzkt {
  color: var(--textColor) !important;
  font-size: 16px !important;
  font-family:  var(--font) !important
  }
  
  .username-_4ZSMR, .membersGroup-v9BXpm, .nameTag-3p0yK- {
  color: var(--textColor) !important;
  font-size: 20px !important;
  font-family:  var(--font) !important
  }
  
  .channel-2QD9_O, .name-2WpE7M {
  font-size: 17px !important;
  }
  
  header {
  color: var(--textColor) !important;
  font-size: 16px !important;
  font-family:  var(--font) !important
  }
  
  h2, h5 {
  color: var(--mainColor) !important;
  }
  
  
  /*Chat input*/
  .input-autosize-input {
  color: var(--textColor) !important;
  font-size: 19px !important;
  font-family:  var(--font) !important
  }
  
  
  /*New messages notifications*/
  /*----------------------------------------*/
  .newMessagesBar-mujexs {
  background-color: var(--secondColor) !important;
  }
  
  .newMessagesBar-mujexs button:last-child {
  background-color: var(--secondColor) !important;
  color: var(--mainColor) !important;
  padding: 5px !important
  }
  
  .newMessagesBar-mujexs button:last-child:hover {
  background-color: var(--mainColor) !important;
  color: var(--secondColor) !important;
  padding: 5px !important
  }
  
  .guild-1EfMGQ.unread-qLkInr:before {
  background-color: var(--mainColor) !important;
  }
  /*----------------------------------------*/
  
  
  /*Bot status indicator*/
  .botTagRegular-2HEhHi {
  background: none !important;
  background-color: var(--mainColor) !important;
  color: var(--secondColor) !important;
  }
  
  
  /*Messages dividers*/
  /*----------------------------------------*/
  .dividerContent-2L12VI {
  color: var(--mainColor) !important;
  }
  
  .dividerContent-2L12VI::before, .dividerContent-2L12VI::after {
  border-color: var(--mainColor) !important;
  }
  /*----------------------------------------*/
  
  /*Role colors*/
  div[style="color: rgb(194, 124, 14);"], span[style="color: rgb(194, 124, 14);"] {
  color: rgb(194, 124, 14) !important;
  }
  
  div[style="color: rgb(231, 25, 25);"], span[style="color: rgb(231, 25, 25);"] {
  color: rgb(231, 25, 25) !important;
  }
  
  /*File upload box*/
  .uploadModal-2ifh8j, .footer-3mqk7D {
  background-color: var(--secondColor) !important;
  }
  
  .footer-3mqk7D button {
  background-color: var(--secondColor) !important;
  }
  
  /*Upload button*/
  .button-primary {
  background-color: var(--secondColor) !important;
  color: var(--mainColor) !important;
  }
  
  .button-primary:hover {
  background-color: var(--mainColor) !important;
  color: var(--secondColor) !important;
  }
  
  /*Custom CSS editor*/
  .editor-wrapper, #bd-customcss-attach-controls {
  background-color: var(--fifthColor) !important
  }
  
  .editor-wrapper *, #bd-customcss-attach-controls * {
  background-color: transparent !important
  }
  
  #bd-customcss-detach-controls-button .btn {
  border: 1px solid var(--mainColor) !important;
  }
  
  #bd-customcss-detach-controls-button .btn:hover {
  border: none !important;
  background-color: var(--mainColor) !important;
  color: var(--secondColor) !important;
  }
  
  /*Create channel input*/
  .name-3ChUIO .inputWrapper-31_8H8 input {
  border: 1px solid var(--mainColor) !important;
  }
  
  /*Discord Crypt*/
  /*----------------------------------------*/
  .dc-overlay-centerfield, #dc-header-master-msg {
  color: var(--mainColor) !important;
  }
  
  .dc-overlay-centerfield {
  background-image: url(https://framagit.org/Leroux47/discord-themes/raw/9e38df9d3ff7727eaf47b875addeef091e463c6b/images/borderlands.png) !important;
  background-repeat: no-repeat;
  }
  
  .dc-password-field {
  background-color: transparent !important;
  color: white !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: 2px solid white !important;
  }
  
  #dc-unlock-database-btn {
  background-color: transparent !important;
  border: 2px solid (var--mainColor) !important;
  color: #76c91efb !important;
  text-decoration: underline !important;
  }
  
  #dc-unlock-database-btn:hover {
  background-color: rgba(72, 221, 35, 0.425) !important;
  color: #fff !important;
  text-decoration: none !important;
  }
  /*----------------------------------------*/
  
  
  /*Discord Citador*/
  /*----------------------------------------*/
  .scrollbarGhost-2F9Zj2, .inline {
  background-color: var(--citadorColor) !important;
  border: 0px solid transparent !important;
  }
  /*----------------------------------------*/